@import 'tailwindcss';

.root {
  --primary: hsl(166.32, 100%, 33.53%);
  --primary-dark: hsl(166.32, 100%, 28.53%);
  --primary-light: hsl(166.32, 100%, 38.53%);
  --primary-faint: hsl(166.32, 50%, 90%);

  @apply pointer-events-auto;
}

input {
  color: #111111;
}

input:hover {
  box-shadow: 0 0 0 2px var(--primary-light);
}

input:focus:hover {
  box-shadow: 0 0 0 2px var(--primary-light);
  outline:none;
}

input:focus {
  outline:none;
  box-shadow: 0 0 0 2px var(--primary-light);
}

h1 {
  @apply text-5xl font-bold;

  color: var(--primary-light);  
}

h2 {
  @apply text-3xl font-bold ml-1;
}

.btn, .clipboard-input {
  @apply text-white font-bold py-2 px-4 rounded text-center;

  background-color: var(--primary);
  pointer: cursor !important; /* cursed */
}

.clipboard-input {
  @apply bg-white;

  outline: 4px solid var(--primary-light);
  color: var(--primary-dark);
}

.btn:hover {
  background-color: var(--primary-dark);
}

.btn.danger {
  @apply bg-red-500 block;
}

.btn.danger:hover {
  @apply bg-red-600;
}

.box {
  @apply flex flex-col justify-between min-h-45 px-12 py-8 shadow-lg rounded-lg mb-8 bg-slate-100;
}

.buttons {
  @apply flex justify-stretch gap-4 mt-4 items-stretch;
}

.buttons>* {
  @apply flex-1;
}

.box.warn {
  @apply bg-orange-100 text-orange-500;
}

@keyframes happy-in-out {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% { 
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.box.happy {
  @apply bg-green-100 text-green-500 flex flex-row justify-center items-center px-4 py-2 min-h-auto max-w-20;

  position: relative;
  top: 20px;
  left: 260px;
  position: absolute;
  animation: happy-in-out 4s ease-in-out forwards;
}

.box.invisible {
  opacity: 0;
}

/* START NAV STYLES */

nav {
  @apply h-screen min-w-[240px] overflow-auto px-4 py-6 font-[sans-serif] shadow-lg;

  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(0,171,132,1) 100%); 
}

nav>h3 {
  @apply px-4 pb-2 text-4xl font-bold;

  color: var(--primary-dark);
}

nav>h4 {
  @apply text-center px-4 pb-4 text-base font-semibold; 

  color: var(--primary);
}

.nav-link, .nav-link-active {
  @apply mb-2 block rounded px-4 py-2.5 text-[15px] transition-all;

  color: var(--primary-dark);
}

.nav-link-active, 
.nav-link:hover {
  background-color: var(--primary-faint);
}

nav .subtitle {
  @apply px-4 py-4 text-sm font-bold;

  color: var(--primary-dark);
}

main {
   @apply grow bg-transparent px-4 py-6 sm:px-6 lg:px-8 h-screen 
}

.email {
  @apply px-4 pb-2 text-sm font-bold;

  color: var(--primary-light);
}

/* END NAV STYLES */

/* START FORM STYLES */


h1.warn {
  @apply text-orange-500 text-4xl font-bold mb-4;
}

.chat-contain {
  @apply grow flex flex-col items-stretch w-full max-w-2xl mx-auto;
}

.chat {
  @apply py-4 px-4 bg-gray-200 text-lg bg-transparent;
}

.chat>span {
  @apply block py-2 px-4 rounded-2xl;
}

.chat.system>span {
  @apply bg-gray-200 text-black max-w-[60%] rounded-bl-none;
}
.chat.user>span {
  @apply text-white float-right rounded-br-none;

  background-color: var(--primary);
}

.form-title {
  @apply grow px-4 py-3 text-3xl font-bold text-slate-800;
}

.chat-input {
  @apply w-[100%] max-w-200 rounded-full bg-gray-200 px-6 py-4 text-lg;
  padding-right: 3.4rem;
}

.submit-button {
  @apply h-12 w-12 rounded-full text-2xl text-white;
  
  margin-left: -3.4rem;
  background-color: var(--primary);
}
